*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
config/detekt/baseline.xml
build/reports/detekt/
# Environment variables
.env
.env.local
.env.*.local
*.env
server/src/main/resources/application.conf
/src/main/resources/news_images/8e678d4a-c519-4014-9c79-6615bc8e2c71.png
/src/main/resources/news_images/62e4e97c-4b41-4d10-926e-db309c17c082.png
/src/main/resources/police_photos/86d9bed2-a45e-47f2-a863-ba386831611f.png
/src/main/resources/police_photos/938d2533-bdc0-452c-a350-13297e85d326.png
/src/main/resources/police_photos/911766db-3591-4c7a-88e7-2d0273c30d53.png
/src/main/resources/police_photos/a50398d5-a689-416c-a3ef-d3a6def75879.png
/src/main/resources/police_photos/bcdd7977-0f45-48d9-9dd2-035e88f1dc1c.png
/src/main/resources/police_photos/c86b42fd-80f5-452d-8dd0-bc4e43a8bd64.png
/src/main/resources/police_photos/f5c98611-4c78-400b-8a5e-275cb40ad4ff.png
